<ngx-spinner type="line-scale-party" [fullScreen]="true"></ngx-spinner>

@if (surveyForms) {
    <div class="d-flex flex-column justify-content-center align-items-center hero">
        <div class="container row section-title col-md-12" data-aos="fade-up">
            <h2>Survey Forms</h2>
            @if(surveyForms.length > 0){
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 20%;">Form Title</th>
                        <th style="width: 20%;">Date Added</th>
                        <th style="width: 40%;">Form Link</th>
                        <th style="width: 30%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (surveyForm of surveyForms; track surveyForm.title) {
                        <tr>
                            <td>{{surveyForm.title}}</td>
                            <td>{{surveyForm.created | date:'dd/MM/yyyy hh:mm a'}}</td>
                            <td><a class="btn btn-sm btn-info" 
                                [href]="surveyForm.clientPath && surveyForm.clientPath.length > 0 ? surveyForm.clientPath : surveyForm.path" 
                                target="_blank">
                                <i class="bi bi-file-pdf"></i> Open Form</a>
                            </td>
                            <td><button type="button" 
                                (click)="loadSurveyForm(surveyForm.id)" 
                                class="btn btn-primary"> <i class="bi bi-pencil-square"></i> Fill Survey Form
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            @else {
                <p>No survey form found</p>    
            }
        </div>
    </div>
}