<div class="d-flex flex-column justify-content-center align-items-center hero">
    <div class="container row section-title col-md-12" data-aos="fade-up">
        <h2>Login</h2>
        <p>login here to start interacting with Emma AI</p>
    </div><!-- End Section Title -->
    <div class="container row col-md-6" data-aos="fade-up">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="php-email-form" autocomplete="off">
            <div class="input-group">
                <label class="col-md-2">User Name</label>
                <div class="col-md-10">
                    <app-text-input 
                        [formControl]="$any(loginForm.controls['username'])"
                        [label]="'UserName'">
                    </app-text-input>    
                </div>
            </div>
            <div class="input-group mt-3">
                <label class="col-md-2">Password</label>
                <div class="col-md-10">
                    <app-text-input 
                        [formControl]="$any(loginForm.controls['password'])"
                        [label]="'Password'"
                        [type]="'password'">
                    </app-text-input>      
                </div>          
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-success mt-3 float-end" type="submit">Login</button>
        </form>
    </div>
</div>